.scrollbar{
    border:solid black;
    background-color:black;
    height:42px;
    padding-top:22px;
    display:flex;
    justify-content: space-around;
    color:white;
}
.arrow{
    /* border:solid purple; */
    height:20px;
}
.navbar{
    /* border:solid black; */
    margin: top 20px;px;
    height: 20px;
    width: 20px;
    display:flex;
    justify-content: space-between;
}
.icon,.logo,.login{
    /* border:solid black; */
    width: 20%;
    height: 10%;
    display: center;
    border-width:.2px;
    border-color: lightgray;
}
.optionsContainer{
    display:flex;
    justify-content: space-around;
}
.options{
​
}

.filterBoxes{
    display: left;
    height: 10%;
    width: 15%;
}